.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
}

textarea {
  outline: none;
  resize: none;
  border: 1px solid rgb(182, 182, 182);
}

.menu-bar {
    background-color: #1a1a1a;
    display: inline-grid;
    padding-block: 20px;
    position: fixed;
    top: 30%;
    left: 20px;
    border-radius: 20px;
    background: #4199e6;
    box-shadow:  28px 28px 33px #285f8f, -28px -28px 33px #5ad3ff;
}

.menu-item {
  margin-inline: 20px;
  margin-block: 5px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: #4199e6;
  box-shadow:  28px 28px 33px #285f8f, -28px -28px 33px #5ad3ff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
